* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 100% of the viewport height */
    margin: 0;
}

.container {

    width: 451px;
    height: 584px;
    top: 158px;
    left: 495px;
    gap: 36px;

    /* border: 2px solid red; */

}

.card-header {

    width: 451px;
    height: 112px;
    /* border-radius: 4px, 4px, 0px, 0px; */
    background-color: #d0d5eb;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* border: 2px solid red; */
}

.card-header-left {

    width: 275px;
    height: 112px;
    /* padding: 24px, 119px, 40px, 24px; */
    /* background-color: #556ee6; */
    /* border: 1px solid red; */
    /* background-color: #c6bff0; */


}

.card-title {
    color: var(--Primary, #556EE6);
    font-family: 'Poppins', sans-serif;
    font-size: 1.01563rem;
    font-weight: 500;
    line-height: 1.21875rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
}

.card-text {
    
    color: var(--Primary, #556EE6);
    margin-left: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.21875rem;

}

.card-header-right {

}

.profile-container {
    width: 28.1875rem;
    height: 4.5rem;
    /* top: 88px; */
    padding: 0px, 355px, 0px, 24px;

}

.profile-img {
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
    

    /* border-radius: 4.5rem; */
    /* border: 3px solid var(--Whisper, #F8F8FB);
    background: var(--White, #FFF); */

}

.card -container {

    border: 1px solid red;
    /* 
width: 451px;
height: 380px;
top: 112px;
padding: 80px, 28px, 24px, 28px;
border-radius: 0px, 0px, 4px, 4px;
gap: 24px; */

    /* background-color: #CED4DA; */

}

/* .body-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.sign-in-box {
    /* width: 395px;
    height: 232px; */
    /* background-color: #3498db; */
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    color: #495057;
    border: 1px solid red;
    /* background-color: #ADB5BD; */
    /* background-color: #CED4DA; */
    background-color: #F8F8FB;

}

/* .sign-in-box h2 {
    margin-top: 0;
} */

.sign-in-box form label {
    display: block;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    gap: 0.625rem;
    font-weight: 400;
}

.sign-in-box form input[type="text"],
.sign-in-box form input[type="password"],
.sign-in-box form input[type="checkbox"] {
    /* width: 100%; */
    /* padding: 10px; */
    /* marg in-top: 5px;*/
    font-family: 'Poppins', sans-serif;
    color: var(--Trout, #495057);
font-size: 0.8125rem;
font-style: normal;
font-weight: 400;
line-height: 1.21875rem;

    width: 24.6875rem;
    height: 2.25rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--Ghost, #CED4DA);
    background: var(--White, #FFF);
}

.sign-in-box form button {

    font-family: 'Poppins', sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.21875rem;
    width: 24.6875rem;
padding: 0.5rem 0.75rem;
gap: 0.625rem;
border-radius: 0.25rem;
border: none;
background: var(--Primary, #556EE6);

    margin-top: 20px;
    cursor: pointer;
}

.sign-in-box form button:hover {
    /* width: 24.6875rem;
    padding: 0.5rem 0.75rem;
    gap: 0.625rem;
    border-radius: 0.25rem;
    background: var(--Primary, #556EE6); */

}

.forgot-password {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--Storm-Gray, #74788D);
    font-family: 'Poppins', sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.21875rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {

    margin-top: 2.5rem;
    display: grid;
    justify-items: center;
    gap: .5rem;
}

.signup-button {
    color: var(--Primary, #556EE6);
    font-family: 'Poppins', sans-serif;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.21875rem;
}

.footer-text-1 {
    color: var(--Trout, #495057);
    font-family: 'Poppins', sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.21875rem;

}